@model IEnumerable<WarehouseManagement.StorefrontModels.storeItems>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<button class="btn btn-info" type="button" id="restock"
        onclick="location.href='@Url.Action("Restock", "Store" )'">
    Restock
</button>
<form action='@Url.Action("OrderAll","Store")' method="get">
    <input type="text" id="quantity" name="quantity" value="" />
    <button class="btn btn-info" type="submit" id="order">
        OrderAll
    </button>


</form>
<form asp-controller="Store" asp-action="Index">
<p>
     <input type="text" name="SearchString">
    <input type="submit" value="Search" />
</p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.Quantity<50 ? "low":"high")">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.storeItemId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.storeItemId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.storeItemId">Delete</a> |
                    <a asp-action="Order" asp-route-id="@item.storeItemId">Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>
